#profile {
  position: relative;
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 25%;
  width: auto;
  border: 5px solid white;
}

#main {
  position: absolute;
  top: 25%;
  height: 50vh;
}

#content {
  position: absolute;
  top: 45%;
  left: 10%;
  width: 80%;
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

body {
  background-color: black;
}


a:hover {
  color: darkred;
}
