#profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  width: 10%;
  border-radius: 50%;
  border: 3px solid white;
  /* position: relative;
  top: 100px;
  left: 600px;
  transform: translate(30%, 10%);

  height: 15%;
  max-width: 200px;
  max-height: 130px;
  width: auto;
  border-radius: 50%;
  border: 3px solid white; */
}

#content {
  /* display: flex;
  justify-content: center;
  /* align-self: center; */
  /* padding-top: 3%;; */
  position: relative;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  justify-self: center;
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

body {
  background-color: black;
}


a:hover {
  color: fuchsia;
}
